#mobile-nav.hide-on-med-and-up.fixed-action-btn
  %a#mobile-nav-button.btn-floating.btn-large{ name: "menu" }
    = material_icon.menu.md_24

  %ul
    - nav_buttons.each do |nav|
      %li
        = link_to nav[:url], id: nav[:id], name: nav[:name], class: "btn-floating waves-effect waves-light #{nav[:class]} tooltipped", data: { tooltip: "#{nav[:tooltip]}", position: "left" } do
          - if nav[:image]
            = nav[:image]
          - else
            = material_icon.send("#{nav[:icon]}")