#main-nav.hide-on-small-only
  - nav_buttons.each do |nav|
    = link_to nav[:url], id: nav[:id], class: "btn-floating btn-large waves-effect waves-light #{nav[:class]} tooltipped", data: { tooltip: "#{nav[:tooltip]}", position: "left" } do
      = material_icon.send("#{nav[:icon]}").md_24