- if @dates.present?
  = render "layouts/shared/navbar", block_id: "diary-index-navbar" do
    %span.nav-title Days List

  #diary-index.main-content
    .container
      .row
        .col.s12.m11.l12.xl10.offset-xl1
          .dates.center-align
            - @dates.each do |date|
              - if day_by_date(date).present?
                %h2= link_to humanized_date(date), "/#{date}"
              - else
                %h2= link_to humanized_date(date), days_path(day: { date: date }), method: :post

- else
  = render "layouts/shared/navbar", block_id: "diary-index-navbar" do
    %span.nav-title Nothing here yet
