- if @days.present?
  %header
    = render "layouts/shared/navbar", block_id: "diary-index-navbar" do
      %span.nav-title Your Story

  %main#diary-index
    .container
      .row
        -# .col.s12.m11.l12
        .col.s12.m8.offset-m2
          .dates.center-align
          
            - @days.each_slice(2) do |days|
              .days-row
                - days.each do |day|
                  .card.day{ class: ("current-day" if current_day?(day)) }
                    .card-content
                      = link_to day_link(day) do
                        %h2
                          .left 
                            = humanized_date(day.date)
                          .right
                            = weekday(day.date)
                          .clearfix
                        - if day.excerpt?
                          %p.excerpt= format_excerpt(day.excerpt, day.excerpt_title) 

- else
  %header
    = render "layouts/shared/navbar", block_id: "diary-index-navbar" do
      %span.nav-title Nothing here yet
