- if @day.present?

  = render "layouts/shared/navbar", block_id: "diary-navbar" do
    .col.s2.m1.offset-m1.offset-l2.right-align.left-arrow
      - if prev_day?
        = link_to prev_day do
          = material_icon.arrow_back
    .col.s8.m8.l6.center-align
      %span.nav-title= humanized_date(@day.date)
    .col.s2.m1.left-align.right-arrow
      - if next_day?
        = link_to next_day do
          = material_icon.arrow_forward

  #diary.main-content
    .container
      .row
        .col.s12.m11.l12.xl10.offset-xl1
          - if @day_entries.present?

            - @day_entries.each do |entry|
              - unless entry.diary_entry.hidden?
                .day-entry{ class: classify(entry.entry_type) }
                  = form_with model: entry, local: false do |form|

                    - if entry.entry_type == "EntryText"
                      .rich-text
                        %label= entry.diary_entry.title
                        = form.rich_text_area :rich_text

                    - elsif entry.entry_type == "EntryCheck"
                      .check-box
                        %label
                          = form.check_box :check, class: "filled-in"
                          %span.label= entry.diary_entry.title

                    - elsif entry.entry_type == "EntryLine"
                      .line-text
                        = form.text_field :line, class: "input-field inline"
                        %span.label= entry.diary_entry.title

- else
  = render "layouts/shared/navbar", block_id: "diary-navbar" do
    %span.nav-title Nothing here yet