%h1 Day

- if @day.present?
  %h2= formatted_date(@day.date)
  - if @day_entries.present?
    - @day_entries.each do |entry|
      %ul
        %li= entry.diary_entry.title
        = form_with model: entry.becomes(DayEntry) do |form|
          - if entry.type == "DayEntryText"
            = form.rich_text_area :rich_text
          - elsif entry.type == "DayEntryLine"
            = form.text_field :line
          - else entry.type == "DayEntryCheck"
            = form.check_box :check
          = form.submit

- else
  %h2 Nothing here yet.
