- if @diary_entry.errors.any?
  %ul.errors
    - @diary_entry.errors.full_messages.each do |message|
      %li.error-message
        = message

= form_with model: @diary_entry do |form|
  .row.input-field
    .col.title-field
      = form.text_field :title, placeholder: "Title"
    .col.actions
      .type-radio.radio-icons.left
        %label.tooltipped{ data: { tooltip: "Rich text area", position: "bottom" } }
          = form.radio_button :entry_type, "EntryText"
          %span= material_icon.insert_chart.md_48.r90
        %label.tooltipped{ data: { tooltip: "Check box", position: "bottom" } }
          = form.radio_button :entry_type, "EntryCheck"
          %span= material_icon.check_box.md_48
        %label.tooltipped{ data: { tooltip: "Short text box", position: "bottom" } }
          = form.radio_button :entry_type, "EntryLine"
          %span= material_icon.font_download.md_48.css_class("normalize")
      .submit.right
        - if @diary_entry.new_record?
          %button.btn.waves-effect.waves-light.tooltipped{ type: "submit", data: { tooltip: "Add entry", position: "bottom" } }
            = material_icon.add
        - else
          %button.btn.waves-effect.waves-light.tooltipped{ type: "submit", data: { tooltip: "Save entry", position: "bottom" } }
            = material_icon.save

  - unless @diary_entry.new_record?
    .row.advanced-actions
      .col.hidden.left
        .switch.tooltipped{ data: { tooltip: "Hide from your diary", position: "bottom" } }
          %label
            Hidden
            = form.check_box :order
            %span.lever
      .col.delete.left
        = link_to diary_entry_path(@diary_entry), method: :delete, data: { confirm: "Are you sure? This action cannot be undone. You can hide this entry instead.", tooltip: "Delete permanently", position: "bottom" }, class: "tooltipped" do
          %label Delete
          = material_icon.delete_forever