.user-card
  = render "devise/shared/error_messages", resource: resource

  = form_with model: resource, url: url do |form|
    .row
      .col.s12.l6.input-field
        = form.text_field :first_name, placeholder: "First Name", autofocus: true
      .col.s12.l6.input-field
        = form.text_field :last_name, placeholder: "Last Name"
    .row
      .col.s12.l6.input-field
        = form.email_field :email, placeholder: "Email", autocomplete: "email"
      .col.s12.l6.input-field
        = form.password_field :password, placeholder: "Password", autocomplete: "new-password", class: "tooltipped", data: { tooltip: "Password must contain 8+ characters,<br>a digit, a lower and an upper case character", html: "true" }
    - unless resource.new_record?
      .row
        .col.s12.l6.input-field.right
          = form.password_field :current_password, placeholder: "Current password to confirm changes", autocomplete: "current-password", class: "tooltipped", data: { tooltip: "Current password to confirm changes" }

    .buttons
      - if user_signed_in?
        = link_to delete_account_path, method: :delete, class: "delete-account btn btn-flat btn-large waves-effect waves-light", data: { confirm: "This will IRREVERSIBLY delete ALL your data. This action cannot be undone. Are you sure?" } do
          Delete account
        = link_to signout_path, method: :delete, class: "signout btn btn-flat btn-large waves-effect waves-light" do
          Sign out

      %button.update.btn.btn-large.waves-effect.waves-light{ type: "submit" }
        #{ resource.new_record? ? "Let's go!" : "Update" }